.main-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-x: hidden;
}

@media (min-width: 340px) {

    .hero-section {
        height: 40rem;
        display: flex;
        flex-direction: column;
    }

    .inner-hero-section {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .hero-section .top {
        height: 65%;
        position: relative;
    }

    .hero-section .top app-shoe-hint {
        position: absolute;
        top: 75%;
        left: 15%;
    }

    .hero-section .bottom {
        padding: 1rem;
        padding-top: 2rem;
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        align-items: flex-start;
        background: #F5F5F5;
    }

    .hero-section .bottom .header-section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
    }

    .header-section .arrivals-txt {
        font-family: 'SF-Medium';
        color: #3E3E59;
        font-size: 1rem;
    }

    .header-section .main-header {
        font-family: 'SF-Bold';
        color: #121212;
        font-size: 2.125rem;
        line-height: 2.375rem;
        letter-spacing: -0.0375rem;
    }

    .header-section .sub-header {
        font-family: 'SF-Medium';
        color: #3E3E59;
        font-size: 1rem;
    }


    // 3 Sections for shoe brands 

    .three-brands-section {
        padding: 1.5rem 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }

    .three-brands-section .link-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        padding: 1.5rem;
    }

    .three-brands-section .adidas-section {
        height: 28rem;
        width: 100%;
        background-position: center;
        background: url('/assets/images/Adidas/adidas-NMD-women-1.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 0.4rem;
    }

    .three-brands-section .right-side {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        width: 100%;
    }

    .three-brands-section .right-side .nike-section {
        height: 15rem;
        width: 100%;
        background-position: center;
        background: url('/assets/images/Nike/nike-a270-women-3.jpeg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 0.4rem;

    }

    .three-brands-section .right-side .puma-section {
        height: 25rem;
        width: 100%;
        background-position: center;
        background: url('/assets/images/Puma/puma-future-boots-men-4.jpeg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 0.4rem;


        // Targeting the puma logo to reduce it
        img {
            width: 4rem;
        }
    }


    // Product grid section

    .product-grid-section {
        padding: 0 1rem;
    }

    // Partners section 

    .partners-section {
        padding: 1.5rem;
    }

    .inner-partners {
        padding: 2rem 0rem;
        border-top: 1px solid #CBCBCB;
        border-bottom: 1px solid #CBCBCB;
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        align-items: center;
        gap: 2rem 1.5rem;
        justify-items: center;

        img {
            width: 9rem;
        }
    }


    // Reviews section

    .reviews-section {
        padding: 1.5rem 1rem;
        display: flex;
        flex-direction: column;
    }

    .review-header-container {
        padding-bottom: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .review-header-container .review-title {
        color: #121212;
        text-align: center;
        font-family: 'SF-Medium';
        font-size: 1.5rem;
    }

    .review-header-container .control-btn-wrapper {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .reviews-section .review-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }

    .review-content .review-card {
        background: #FFF;
        box-shadow: 0px 8.18866px 16.37731px 0px rgba(0, 0, 0, 0.04);
        width: 90%;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .review-card .customer-info-section {
        display: flex;
        gap: 1.2rem;
        align-items: center;
    }

    .customer-info-section .customer-img {
        width: 4rem;
        height: 4rem;
        border-radius: 999px;
    }

    .customer-info-section .customer-details {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.2rem;

        .customer-name {
            color: #121212;
            font-family: 'SF-Medium';
            font-size: 1.125rem;
            letter-spacing: -0.02556rem;
            line-height: 2rem;
        }
    }

    .review-card .customer-review-txt {
        color: #3E3E59;
        font-family: 'SF-Regular';
        font-size: 1rem;
        line-height: 1.6rem;
    }



    // FAQ Section 

    .faq-section {
        height: 20rem;
        background: url('/assets/images/faq.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding: 1.5rem;

        .faq-header {
            color: #121212;
            text-align: center;
            font-family: 'SF-Medium';
            font-size: 2rem;
            line-height: 2.4375rem;
            letter-spacing: -0.025rem;
        }

        .faq-subheader {
            color: #3E3E59;
            text-align: center;
            font-family: 'SF-Regular';
            font-size: 1.125rem;
            line-height: 1.625rem;
        }
    }

}

@media (min-width: 1024px) {

    app-navbar {
        position: relative;
        z-index: 2;
    }

    .hero-section {
        position: relative;
        height: 40rem;
    }


    .inner-hero-section {
        display: flex;
        flex-direction: row-reverse;
        position: absolute;
        width: 100%;
        top: 0;
        height: 100%;
    }

    .hero-section .top {
        height: 100%;
        width: 50%;
    }

    .hero-section .top app-shoe-hint {
        left: -13%;
    }

    .hero-section .bottom {
        padding-left: 7rem;
        gap: 1.8rem;
        justify-content: center;
        background: #fff;
    }

    .hero-section .bottom .header-section {
        gap: 0.8rem;
    }

    .header-section .arrivals-txt {
        font-size: 1rem;
    }

    .header-section .main-header {
        font-size: 3.5rem;
        line-height: 3.5rem;
    }

    .header-section .sub-header {
        font-size: 1.25rem;
    }



    // 3 Sections for shoe brands 

    .three-brands-section {
        padding: 3rem 6rem;
        flex-direction: row;
        gap: 2rem;
        height: 40rem;
    }

    .three-brands-section .adidas-section {
        height: 100%;
        width: 60%;
    }

    .three-brands-section .right-side {
        gap: 2rem;
        width: 40%;
        height: 100%;
    }

    .three-brands-section .right-side .nike-section {
        height: 50%;
        width: 100%;
    }

    .three-brands-section .right-side .puma-section {
        height: 50%;
        width: 100%;
    }


    // Product grid section

    .product-grid-section {
        padding: 0 3rem;
    }

    // Partners section 

    .partners-section {
        padding: 2rem 6rem;
    }

    .inner-partners {
        padding: 2rem 0rem;
        display: flex;
        align-items: center;
        gap: 1rem;

        img {
            width: 8rem;
        }
    }
}

@media (min-width: 1280px) {

    .hero-section {
        height: 45rem;
    }

    .hero-section .top {
        height: 100%;
        width: 50%;
    }

    .hero-section .top app-shoe-hint {
        left: -13%;
    }

    .hero-section .bottom {
        padding-left: 9rem;
        gap: 1.8rem;
        justify-content: center;
        background: #fff;
    }

    .hero-section .bottom .header-section {
        gap: 0.8rem;
    }

    .header-section .arrivals-txt {
        font-size: 1rem;
    }

    .header-section .main-header {
        font-size: 3.8rem;
        line-height: 3.8rem;
    }

    // 3 Sections for shoe brands 

    .three-brands-section {
        height: 45rem;
    }

    // Partners section 

    .partners-section {
        padding: 2rem 10rem;
    }

    .inner-partners {
        gap: 1.5rem;

        img {
            width: 9rem;
        }
    }
}

@media (min-width: 1440px) {

    .hero-section {
        height: 50rem;
    }

    .hero-section .bottom {
        gap: 2rem;
    }

    .hero-section .bottom .header-section {
        gap: 1rem;
    }

    .header-section .arrivals-txt {
        font-size: 1.2rem;
    }

    .header-section .main-header {
        font-size: 4rem;
        line-height: 4rem;
    }

    .header-section .sub-header {
        font-size: 1.5rem;
    }


    // 3 Sections for shoe brands 

    .three-brands-section {
        height: 50rem;
    }

    // Partners section 

    .partners-section {
        padding: 4rem 12rem;
    }

    .inner-partners {
        padding: 3rem 0;
        gap: 2rem;
    }
}

@media (min-width: 1650px) {
    .hero-section {
        height: 60rem;
    }

    .header-section .arrivals-txt {
        font-size: 1.5rem;
    }

    .header-section .main-header {
        font-size: 5rem;
        line-height: 5.5rem;
    }

    .header-section .sub-header {
        font-size: 2rem;
    }

    // 3 Sections for shoe brands 

    .three-brands-section {
        height: 55rem;
    }


    // Partners section 

    .partners-section {
        padding: 5rem 15rem;
    }

    .inner-partners {
        padding: 4rem 0;
        gap: 3rem;

        img {
            width: fit-content;
        }
    }
}