<section class="main-container">

    <div class="hero-section">
        <app-navbar></app-navbar>


        <div class="inner-hero-section">
            <div style="background: url('/assets/images/Adidas/adidas-UB-men-1.jpg'); background-position: center; background-repeat: no-repeat; background-size: cover;"
                class="top">

                <app-shoe-hint></app-shoe-hint>

            </div>

            <div class="bottom">

                <div class="header-section">
                    <span class="arrivals-txt">New Arrivals</span>
                    <span class="main-header">Good Shoes, <br>Happy Life.</span>
                    <span class="sub-header">Life is better in well-loved shoes.</span>
                </div>

                <button id="btn-filled">See Collection
                    <img src="/assets/svgs/arrow-right.svg" alt="">
                </button>
            </div>
        </div>
    </div>

    <!-- 3 sections for shoe brands -->
    <div class="three-brands-section">
        <div class="adidas-section">
            <div class="link-wrapper">
                <img src="/assets/svgs/adidas-logo.svg" alt="">
                <a id="btn-underline" href="#">
                    <span>Explore</span>
                </a>
            </div>

        </div>


        <div class="right-side">


            <div class="nike-section">
                <div class="link-wrapper">
                    <img src="/assets/svgs/nike-logo.svg" alt="">
                    <a id="btn-underline" href="#">
                        <span>Explore</span>
                    </a>
                </div>


            </div>

            <div class="puma-section">
                <div class="link-wrapper">
                    <img src="/assets/images/puma-logo.png" alt="">
                    <a id="btn-underline" href="#">
                        <span>Explore</span>
                    </a>
                </div>


            </div>

        </div>
    </div>

    <!-- Product Grid section -->
    <div class="product-grid-section">
        <app-product-grid-tab></app-product-grid-tab>
    </div>

    <!-- Partners section -->

    <div class="partners-section">
        <div class="inner-partners">
            <img src="/assets/svgs/nike-logo-gray.svg" alt="">
            <img src="/assets/svgs/adidas-logo-gray.svg" alt="">
            <img src="/assets/svgs/puma-logo-gray.svg" alt="">
            <img src="/assets/svgs/skechers-logo-gray.svg" alt="">
            <img src="/assets/svgs/jumpman-logo-gray.svg" alt="">
            <img src="/assets/svgs/vans-logo-gray.svg" alt="">
        </div>
    </div>

    <!-- Reviews section -->

    <div class="reviews-section">

        <div class="review-header-container">
            <span class="review-title">Reviews</span>

            <div class="control-btn-wrapper">
                <div id="prev-btn">
                    <img src="/assets/svgs/arrow-rightblack.svg" alt="">
                </div>

                <div id="next-btn">
                    <img src="/assets/svgs/arrow-rightblack.svg" alt="">
                </div>
            </div>
        </div>

        <div class="review-content">
            <div class="review-card">

                <div class="customer-info-section">
                    <div class="customer-img"
                        style="background: url('/assets/images/profile-2.jpeg'); background-size: cover; background-repeat: no-repeat; background-position: center;">
                    </div>

                    <div class="customer-details">
                        <span class="customer-name">John Appleseed</span>
                        <img src="/assets/svgs/rating-group.svg" alt="">
                    </div>
                </div>

                <span class="customer-review-txt">“Fantastic clothes. I wasn't sure when I ordered them but I have to
                    say it's without any doubts the best purchase of this year. So comfy and stylish ❤️.”</span>
            </div>

            <div class="navigation-wrapper">

            </div>
        </div>


    </div>

    <!-- FAQ Section -->

    <div class="faq-section">
        <span class="faq-header">You've got Questions? <br>
            We have Answers.</span>

        <span class="faq-subheader">Whatever it is you've got to ask? We’ve got you covered.</span>

        <button id="btn-filled">
            FAQ'S

            <img src="/assets/svgs/arrow-right.svg" alt="">
        </button>
    </div>

    <!-- Newsletter section -->
    <app-newsletter></app-newsletter>


    <!-- Footer section -->
    <app-footer></app-footer>
    
</section>