<div class="tab">
    <div class="tabUnselected" (click)="setActiveTab('tab1')" [class.active]="tabSelected === 'tab1'">
        Description
    </div>

    <div class="tabUnselected" (click)="setActiveTab('tab2')" [class.active]="tabSelected === 'tab2'">
        Additional Information
    </div>

    <div class="tabUnselected" (click)="setActiveTab('tab3')" [class.active]="tabSelected === 'tab3'">
        Reviews & Ratings
    </div>
</div>


<div class="tab-content">
    <ng-container *ngIf="tabSelected === 'tab1'">

    </ng-container>

    <ng-container *ngIf="tabSelected === 'tab2'">


    </ng-container>

    <ng-container *ngIf="tabSelected === 'tab3'">


    </ng-container>
</div>