<div class="entire-product-grid">

    <div class="inner-grid">
        <div class="single-card" *ngFor="let card of cardData">
            <div loading="lazy" class="image-section" style="background: url('{{card.productImg}}'); background-size: cover; background-position: center; background-repeat: no-repeat;"></div>
    
            <div class="info-section">
                <img src="/assets/svgs/rating-group.svg" alt="">
                <span class="shoe-name">{{card.productName}}</span>
                <span class="shoe-price">{{card.productPrice | currency: 'USD'}}</span>
            </div>
    
        </div>
    </div>

    
    <button id="btn-filled" class="load-more-btn">Load More</button>

</div>