@media (min-width: 340px) {
    .entire-desktop-footer {
        display: none;
    }

    .entire-mobile-footer {
        padding: 3rem 1rem;
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    .mobile-upper-section {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .mobile-upper-section .footer-header {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: flex-start;

        .header-txt {
            color: #3E3E59;
            font-family: 'SF-Regular';
            font-size: 1rem;
            line-height: 1.4375rem;
        }
    }

    .footer-dropdown-wrapper {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .footer-dropdown-wrapper .single-tile {
        width: 100%;
        border-bottom: 1px solid #CBCBCB;
        background: #FFF;
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    }

    app-footer-accordion {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    
}