<!-- Desktop footer -->



<!-- Mobile footer -->
<section class="entire-mobile-footer">

    <div class="mobile-upper-section">

        <div class="footer-header">
            <img src="/assets/svgs/nike-logo.svg" alt="">

            <span class="header-txt">Good Shoes, <br>
                Happy Life.</span>
        </div>

        <div class="footer-dropdown-wrapper">
            <div class="single-tile" *ngFor="let content of content">
                <app-footer-accordion [title]="content.title" [content]="content.content"
                  [isExpanded]="content.isExpanded"></app-footer-accordion>
                  
              </div>

        </div>
    </div>

    <div class="mobile-lower-section">

        <div class="selectors-wrapper">
            <div class="language-selector">
                <img src="/assets/svgs/usa-flag.svg" alt="">

                <div class="inner-lang-selector">
                    <span>English</span>
                    <img src="/assets/svgs/icn-chevron-down.svg" alt="">
                </div>
            </div>
            <div class="currency-selector">
                <span>USD</span>
                <img src="/assets/svgs/icn-chevron-down.svg" alt="">
            </div>
        </div>

        <div class="socials-wrapper">
            <div class="icon-box">
                <img src="/assets/svgs/facebook.svg" alt="">
            </div>

            <div class="icon-box">
                <img src="/assets/svgs/instagram.svg" alt="">
            </div>

            <div class="icon-box">
                <img src="/assets/svgs/twitter.svg" alt="">
            </div>

            <div class="icon-box">
                <img src="/assets/svgs/email.svg" alt="">
            </div>
        </div>

        <span class="copyright-txt">&copy; 2023</span>

    </div>
</section>