// .tiles-wrapper {
//     display: flex;
//     flex-direction: column;
//     align-items: flex-start;
//     gap: 0.5rem;
// }

.single-tile{
    width: 100%;
    border-bottom: 1px solid #CBCBCB;

}


.tile-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 0rem;
    gap: 0.5rem;
    font-family: 'SF-Regular';
    color: #1F2937;
    font-size: 1.063rem;
    line-height: 1.5rem;

    img{
        transform: rotate(0deg);
        transition: transform 0.3s;
        width: 1rem;
    }

    img.expanded{
        transform: rotate(180deg);
    }
}

.tile-content {
    padding: 0.8rem 0;

}