

<div class="single-tile">
    <div class="tile-header" (click)="toggleAccordionOne()">
        <span class="header-txt">Description</span>
        <img [class.expanded]="expanded1" src="/assets/svgs/icn-chevron-down.svg" alt="">
    </div>

    <div class="tile-content" [class.expanded]="expanded1" *ngIf="expanded1">

    </div>
</div>

<div class="single-tile">
    <div class="tile-header" (click)="toggleAccordionTwo()">
        <span class="header-txt">Additional Information</span>
        <img [class.expanded]="expanded2" src="/assets/svgs/icn-chevron-down.svg" alt="">
    </div>

    <div class="tile-content" [class.expanded]="expanded2" *ngIf="expanded2">
       
    </div>
</div>


<div class="single-tile">
    <div class="tile-header" (click)="toggleAccordionThree()">
        <span class="header-txt">Reviews & Ratings</span>
        <img [class.expanded]="expanded3" src="/assets/svgs/icn-chevron-down.svg" alt="">
    </div>

    <div class="tile-content" [class.expanded]="expanded3" *ngIf="expanded3">
        
    </div>
</div>