<div class="main-container">

    <div class="main-product-section">

        <div class="product-image-slider"
            style="background: url('/assets/images/Nike/nike-a270-women-1.jpeg'); background-repeat: no-repeat; background-position: center; background-size: cover;">

            <div class="slider-buttons">
                <div class="slider-btn">
                    <img src="/assets/svgs/arrow-left.svg" alt="">
                </div>

                <div class="slider-btn">
                    <img src="/assets/svgs/arrow-rightblack.svg" alt="">
                </div>
            </div>

        </div>

        <div class="product-info-section">
            <div class="product-header">
                <img src="/assets/svgs/nike-logo.svg" alt="" class="brand-logo">

                <span class="category-title">Women's Collection</span>

                <span class="product-name">Nike Air Max 270</span>

                <div class="rating-wrapper">
                    <img src="/assets/images/rating-group.png" alt="">

                    <span class="rating-txt">23 Reviews</span>
                </div>


                <div class="price-wrapper">
                    <span class="main-price-txt">$121.97</span>
                    <span class="cancel-price-txt">$104.00</span>
                </div>
            </div>

        </div>

    </div>

</div>