<div class="main-container">

    <div class="main-product-section">

        <!-- For Mobile -->
        <div class="product-image-slider-mobile"
            style="background: url('/assets/images/Nike/nike-a270-women-1.jpeg'); background-repeat: no-repeat; background-position: center; background-size: cover;">

            <div class="slider-buttons">
                <div class="slider-btn">
                    <img src="/assets/svgs/arrow-left.svg" alt="">
                </div>

                <div class="slider-btn">
                    <img src="/assets/svgs/arrow-rightblack.svg" alt="">
                </div>
            </div>

        </div>

        <!-- For Desktop -->

        <div class="product-image-slider-desktop">

            <div class="main-image"
                style="background: url('/assets/images/Nike/nike-a270-women-1.jpeg'); background-position: center; background-repeat: no-repeat; background-size: cover;"></div>

            <div class="sub-images-wrapper">
                <div class="sub-images" 
                    style="background: url('/assets/images/Nike/nike-a270-women-2.jpeg'); background-position: center; background-repeat: no-repeat; background-size: cover;"></div>
                <div class="sub-images" 
                    style="background: url('/assets/images/Nike/nike-a270-women-3.jpeg'); background-position: center; background-repeat: no-repeat; background-size: cover;"></div>
                <div class="sub-images" 
                    style="background: url('/assets/images/Nike/nike-a270-women-4.jpeg'); background-position: center; background-repeat: no-repeat; background-size: cover;"></div>
            </div>

        </div>

        <div class="product-info-section">
            <div class="product-header">
                <img src="/assets/svgs/nike-logo.svg" alt="" class="brand-logo">

                <span class="category-title">Women's Collection</span>

                <span class="product-name">Nike Air Max 270</span>

                <div class="rating-wrapper">
                    <img src="/assets/svgs/rating-group.svg" alt="">

                    <span class="rating-txt">23 Reviews</span>
                </div>


                <div class="price-wrapper">
                    <span class="main-price-txt">$121.97</span>
                    <span class="cancel-price-txt">$104.00</span>
                </div>
            </div>

            <div class="product-body">

                <div class="size-wrapper">
                    <span class="size-txt">Size</span>
    
                    <div class="size-btn-wrapper">
                        <button matRipple  value="" class="size-btn">S</button>
                        <button matRipple  value="" class="size-btn">M</button>
                        <button matRipple  value="" class="size-btn">L</button>
                        <button matRipple  value="" class="size-btn">XL</button>
                        <button matRipple  value="" class="size-btn">2XL</button>

                    </div>

                    <button class="clear-size-btn">
                        <img src="/assets/svgs/icn-close-gray.svg" alt="">
                        <span>Clear</span>
                    </button>


                    <div class="size-action-buttons">
                        <button class="size-guide-btn">
                            <img src="/assets/svgs/icn-measure.svg" alt="">
                            <span>SIZE GUIDE</span>
                        </button>

                        <div class="in-stock-tag">
                            <img src="/assets/svgs/icn-check-black.svg" alt="">
                            <span>673 IN STOCK</span>
                        </div>
                    </div>
                </div>

                
                
            </div>

        </div>

    </div>

</div>