<!-- Desktop nav-->

<section class="entire-navbar-wrapper">
    <div class="left">

        <img class="logo" src="/assets/svgs/logo.svg" alt="">

        <div class="link-group">
            <div class="link">
                <span>Home</span>
                <img src="/assets/svgs/chevron-down.svg" alt="">
            </div>

            <div class="link">
                <span>Shop</span>
                <img src="/assets/svgs/chevron-down.svg" alt="">
            </div>

            <div class="link">
                <span>Pages</span>
                <img src="/assets/svgs/chevron-down.svg" alt="">
            </div>
        </div>
    </div>

    <div class="right">

        <form action="submit">
            <input type="search" name="" id="" placeholder="Search here...">
        </form>

        <div>
            <img src="/assets/svgs/cart.svg" alt="">

            <div class="profile" style="background-image: url('/assets/images/profile-1.jpg'); background-position: center;
            background-size: cover;
            background-repeat: no-repeat;">

            </div>

        </div>
    </div>
</section>

<!-- Mobile nav -->

<section class="entire-mobile-nav">

    <div class="left">
        <img src="/assets/svgs/menu.svg" alt="" (click)="toggleBar()">
    </div>


    <div class="middle">
        <img src="/assets/svgs/logo.svg" alt="">
    </div>


    <div class="right">
        <img src="/assets/svgs/cart.svg" alt="">

        <div class="profile" style="background-image: url('/assets/images/profile-1.jpg'); background-position: center;
        background-size: cover;
        background-repeat: no-repeat;">

        </div>
    </div>


    <div class="navbar-menu-expand" [hidden]="!expanded">
        <div class="overlay" (click)="closeBar()">

        </div>

        <div class="main-menu">

            <div class="top">
                <div class="menu-header">
                    <img src="/assets/svgs/nike-logo.svg" alt="">
                    <img src="/assets/svgs/close.svg" alt="" (click)="closeBar()">
                </div>

                <form action="submit">
                    <input type="search" name="" id="" placeholder="Search here...">
                </form>

                <div class="nav-dropdown-wrapper">
                    <div class="single-tile" *ngFor="let content of content">
                        <app-footer-accordion [title]="content.title" [content]="content.content"
                          [isExpanded]="content.isExpanded"></app-footer-accordion>
                          
                      </div>
        
                </div>
            </div>

            <div class="bottom">

            </div>
        </div>
    </div>

</section>