<div class="entire-newsletter-wrapper">
    <div class="image-section" style="background: url('/assets/images/Adidas/adidas-UB-women-1.jpg'); background-position: center; background-size: cover; background-repeat: no-repeat;">
    </div>

    <div class="newsletter-content">

        <span class="content-header">Join our newsletter. <br>Enjoy big discounts.</span>

        <form action="submit" class="content-form">

            <div class="input-group">
                <span class="input-label">Email Address</span>
                <form>
                    <input type="email" name="" id="" placeholder="johnappleseed@icloud.com">
                </form>
            </div>


            <div class="terms-wrapper">
                <input type="radio" name="terms-radio" id="">
                <span class="terms-txt">I agree to receive marketing emails.</span>
            </div>
        </form>
    </div>
</div>